

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
   
</head>
<body>

    <style>
        h1{
            color: red;
        }

        .notfound{
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
          
            align-items: center;
        }
    </style>

    <div class="notfound">
        <svg width="930" height="356" viewBox="0 0 930 356" fill="none" preservedAspectRatio='xMinYMax meet' xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="465" cy="320.5" rx="465" ry="35.5" fill="#E04C4C" fill-opacity="0.15"/>
            <g filter="url(#filter0_bd_0_1)">
            <ellipse cx="399" cy="153.5" rx="96" ry="153.5" fill="#3BAFD3"/>
            </g>
            <ellipse cx="371.825" cy="84.6649" rx="10.0963" ry="11" transform="rotate(-3.92271 371.825 84.6649)" fill="#F04141"/>
            <ellipse cx="421.825" cy="83.6649" rx="10.0963" ry="11" transform="rotate(-3.92271 421.825 83.6649)" fill="#F04141"/>
            <path d="M371 187C378.333 196.667 399.8 210.2 427 187" stroke="#F04141"/>
            <ellipse cx="294" cy="166" rx="9" ry="82" transform="rotate(10 294 166)" fill="#3BAFD3"/>
            <ellipse cx="547.264" cy="153.856" rx="9" ry="82" transform="rotate(-70 547.264 153.856)" fill="#3BAFD3"/>
            <g filter="url(#filter1_bd_0_1)">
            <ellipse cx="565" cy="239.5" rx="75" ry="67.5" fill="#3BAFD3"/>
            </g>
            <ellipse rx="7.87684" ry="4.8615" transform="matrix(0.999256 -0.0385592 0.120958 0.992658 543.867 209.231)" fill="#F04141"/>
            <ellipse rx="7.87684" ry="4.8615" transform="matrix(0.999256 -0.0385592 0.120958 0.992658 582.939 208.791)" fill="#F04141"/>
            <path d="M543 254C548.762 258.528 565.629 264.867 587 254" stroke="#F04141"/>
            <ellipse rx="6.95999" ry="37.2132" transform="matrix(0.995113 0.0987414 -0.299002 0.954252 483.053 244.997)" fill="#3BAFD3"/>
            <ellipse rx="6.95999" ry="37.2132" transform="matrix(0.995113 -0.0987414 0.299002 0.954253 647.152 245.436)" fill="#3BAFD3"/>
            <defs>
            <filter id="filter0_bd_0_1" x="299" y="-4" width="200" height="319" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_0_1"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="effect1_backgroundBlur_0_1" result="effect2_dropShadow_0_1"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_0_1" result="shape"/>
            </filter>
            <filter id="filter1_bd_0_1" x="486" y="168" width="158" height="147" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_0_1"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="effect1_backgroundBlur_0_1" result="effect2_dropShadow_0_1"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_0_1" result="shape"/>
            </filter>
            </defs>
            </svg>
            
            <h1>Page Not Found!!</h1>
    </div>
</body>
</html>