{% extends 'base.html' %}
{% load static %}

{% block title %} 
    Favourite Posts 
{% endblock title %}
   
{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/post.css' %}">
{% endblock style %}


{% block content %}

    
    <div  class='favpost'>
        {% if have_fav %}
            <div class="flex-container posts">

                {% for post in all_fav_post %}
                    <div class="post_section">
                        {% include 'blog/include/include_post.html' %}
                    </div>
                    
                {% endfor %}
            </div>
        {% else %}
            <h2> You don't have any favourite Post yet!!!</h2>  
        {% endif %}
    </div>
    
{% endblock content %}